.card{
  direction: rtl;

}

.pro{
  direction: rtl;
  border-right: solid #92d8db;
  border-width: 0 7px;

}

.pro button{
  border: solid #92d8db;
  border-width: 1px;
  color: #92d8db;

}
.camp{
  direction: rtl;
  border-right: solid rgb(128, 0, 255);
  border-width: 0 7px;

}

.camp button{
  color: #aaadf5;
  border: solid rgb(128, 0, 255);
  border-width: 1px;

}

.card-body{

}

.flex{
  display: flex;
  
}
.red{
  
  .pro{
    direction: rtl;
    border-right: solid #9f9f9f;
    border-width: 0 7px;
  }

  .pro button{
    border: solid #bebebe;
    border-width: 1px;
    color: #b7b9b9;
  
  }
  
}

.down-info{
  display: flex;
  flex-direction: column;
  width: 19vw;
  gap: 10px;

}

.cont{
  display: flex;
  flex-wrap: wrap;


}

.d{
  display: flex;
  height: 90vh;



}

.iu{
  display: flex;


}

.maincont{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 95vw;
  height: 100vh;
  gap: 20px;
  justify-content: center;
  

  
}

/* Nav */
.thesing{
  display: flex;
  justify-content: start;
  width: 40vw;
  height: 10vh;
  align-items: center;
}

.thesing h2{
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
.thesing h2:hover{
  color: aqua;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4f3797;
  display: flex;
  justify-content: end;
  align-items: center;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: aqua;
}

.nave{
  position: absolute;
  width: 100vw;
}

/* Footer */

.fot{
  display: flex;
  width: 105vw;
  background-color: #4f3797;
  height: 5vh;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
  position: relative;


}